# Note! Please run 'prove t/gitignore.t' after changing
# this file, to check its coherency

# all dotfiles
.*
# but we _wan't_ those dot-files
!.gitignore
!.mailmap
!.travis.yml

# ChangeLog is generated during make
/ChangeLog

# those are generated during debian package build
/build-stamp
/configure-stamp
/man
/debian/files
/debian/xen-tools
/debian/xen-tools.debhelper.log
/debian/xen-tools.substvars

# git-generated patches
/*.patch

# some backups
*~
*.orig

# backups created by "make update-version"
*.bak

# Devel::Cover cache
cover_db/
