Source: xen-tools
Section: utils
Priority: extra
Maintainer: Axel Beckert <abe@debian.org>
Build-Depends: debhelper (>= 7.0.0), libtest-pod-perl, libtext-template-perl
Standards-Version: 3.8.4
Homepage: http://xen-tools.org/software/xen-tools
Vcs-Browser: http://noone.org/hg/xen-tools
Vcs-Hg: http://noone.org/hg/xen-tools/debian

Package: xen-tools
Architecture: all
Depends: debootstrap, perl-modules, libtext-template-perl, libconfig-inifiles-perl, ${misc:Depends}
Recommends: xen-hypervisor-amd64 | xen-hypervisor-i386 | xen-hypervisor-i386-pae, xen-shell, libexpect-perl
Suggests: reiserfsprogs, xfsprogs, rinse
Description: Tools to manage Xen virtual servers
 This package contains tools to manage Debian based XEN virtual servers.
 .
 Using the scripts you can easily create fully configured Xen guest
 domains (domU) which can be listed, updated, or copied easily.
