#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_test:
	make non-author-test

override_dh_installchangelogs:
	dh_installchangelogs NEWS.markdown

override_dh_auto_build:
